description = "Detail Produk"

[session]
security = "all"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="en">

<head>
  {% partial 'metapb' %}
</head>

<body>
  <main>

    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
      {% partial "headerpb" %}
      {% partial "navpb" %}
    </header>
    <!-- End Header -->
    <br><br><br>

    {% page %}
    <div class="u-divider u-divider-center u-divider-linear-gradient u-divider-linear-gradient--gray-light-v3 w-50 mx-auto g-my-80">
      <i class="fa fa-circle u-divider__icon g-bg-white g-color-primary"></i>
    </div>

    <section class="g-bg-secondary">
      <div class="container g-pt-100 g-pb-70">
      <div class="row">
        <div class="col-md-6 g-mb-30">
          <h4 class="h4 g-color-black g-font-weight-700">Hitung harga <span class="g-color-primary">{{record.title}}</span> online</h4><br>
          <form>
            <div class="form-group row g-mb-25">
              <label class="col-sm-2 col-form-label g-mb-10" for="hf-email">Jumlah</label>
              <div class="col-sm-6">
                <input id="hf-email" class="form-control u-form-control rounded-0" type="email" placeholder="Masukkan qty order">
              </div>
            </div>

            <div class="form-group row g-mb-25">
              <label class="col-sm-2 col-form-label g-mb-10" for="hf-email">Ukuran</label>
              <div class="col-sm-6">
                <select class="form-control u-form-control rounded-0" data-placeholder="Ukuran" data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up">
                  <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="A4">A4 - 21 x 30 cm</option>
                  <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="F4">F4 - 21 x 33 cm</option>
                </select>
              </div>
            </div>

          </form>
        </div>

        <div class="col-md-6 g-mb-30">
          <h4 class="h4 g-color-black g-font-weight-700">Hasil hitung <span class="g-color-primary">{{record.title}}</span> online</h4><br>
        </div>
      </div>
    </div>
    </section>

    {% partial "produkkecil" %}

    {% partial "footerpb" %}

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  {% partial "scriptspb" %}
</body>

</html>
