description = "FAQ"

[session]
security = "all"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="en">

<head>
  {% partial 'metapb' %}
</head>

<body>
  <main>

    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
        {% partial "headerpb" %}
        {% partial "navpb" %}
    </header>
    <!-- End Header -->
    <br>
    <br>
    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-69" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
      <!-- Parallax Image -->
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url({{ 'assets/images/backgroundslider.jpg'|theme }});"></div>
      <!-- End Parallax Image -->

      <!-- Promo Block Content -->
      <div class="container g-color-white text-center g-py-120"><br>
        <h3 class="h1 g-font-weight-600 text-uppercase mb-2 g-mt-50">Frequently Asked Question</h3>
        <p class="g-font-weight-300 g-font-size-22">FAQ PercetakanBandung.com</p>
      </div>
      <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->
    {% partial "faq" %}
    {% partial "produkkecil" %}
    {% partial "footerpb" %}

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  {% partial "scriptspb" %}
</body>

</html>
