description = "Kontak PB"

[session]
security = "all"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="en">

<head>
  {% partial 'metapb' %}
</head>

<body>
  <main>

    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
        {% partial "headerpb" %}
        {% partial "navpb" %}
    </header>
    <!-- End Header -->
<br>
<br>
<br>
<br>
    <!-- Google Map -->
    <div id="GMapRoadmap" class="js-g-map embed-responsive embed-responsive-21by9" data-lat="40.748866" data-lng="-73.988366" data-pin="true">
      <p class="rtecenter"><iframe frameborder="0" height="500" id="gmap_canvas" scrolling="no" src="https://maps.google.com/maps?q=percetakan%20bandung&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width="1020"></iframe></p>
    </div>
    <!-- End Google Map -->

    <section class="container g-pt-100 g-pb-40">
      <div class="row justify-content-between">
        <div class="col-md-7 g-mb-60">
          <!-- Contact Form -->
          <form>
            <div class="row">
              <div class="col-md-6 form-group g-mb-20">
                <label class="g-color-gray-dark-v2 g-font-size-13">Nama:</label>
                <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="text">
              </div>

              <div class="col-md-6 form-group g-mb-20">
                <label class="g-color-gray-dark-v2 g-font-size-13">Email:</label>
                <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="email">
              </div>

              <div class="col-md-6 form-group g-mb-20">
                <label class="g-color-gray-dark-v2 g-font-size-13">Subject:</label>
                <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="text">
              </div>

              <div class="col-md-6 form-group g-mb-20">
                <label class="g-color-gray-dark-v2 g-font-size-13">Nomor HP/WA:</label>
                <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="tel">
              </div>

              <div class="col-md-12 form-group g-mb-40">
                <label class="g-color-gray-dark-v2 g-font-size-13">Pesan:</label>
                <textarea class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="7"></textarea>
              </div>
            </div>

            <button class="btn u-btn-primary rounded-3 g-py-12 g-px-20" type="submit" role="button">Kirim</button>
          </form>
          <!-- End Contact Form -->
        </div>

        <div class="col-md-4">
          <h1 class="g-font-weight-300 mb-3">Percetakan Bandung</h1>
          <div class="g-width-60 g-height-1 g-bg-primary mb-3"></div>
          <div class="mb-4">
            <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Alamat:</h2>
            <p class="g-color-gray-dark-v4 g-font-size-16">Jalan Kembar Timur 1 No. 11 A
              <br>Kel. Ancol, Kec. Regol
              <br>Kota Bandung, Jawa Barat, Indonesia</p>
          </div>

          <div class="mb-4">
            <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Jam Operasional:</h2>
            <p class="g-color-gray-dark-v4 g-font-size-16">Senin-Jum'at : 08.00 - 17.00 WIB
              <br>Sabtu : 08.00 - 12.00 WIB</p>
          </div>

          <div class="mb-4">
            <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Email :</h2>
            <p class="g-color-gray-dark-v4"><a class="g-color-gray-dark-v2" href="mailto:cs@percetakanbandung.com?Subject=Hello%20Percetakan%20Bandung" target="_top">cs@percetakanbandung.com</a>
            </p>
          </div>

          <div class="mb-3">
            <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Nomor Telp / WA:</h2>
            <p class="g-color-gray-dark-v4">
              <a target="_blank" href="https://api.whatsapp.com/send?phone=6285321300300&text=Halo%20ka..%20Saya%20ingin%20bertanya-tanya%20mengenai%20produk%20PercetakanBandung.com">
              <span class="g-color-gray-dark-v2">+62 853 21 300 300</span></a>
            </p>
          </div>

          <!-- Figure Social Icons -->
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                <i class="g-font-size-default fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-4">
              <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                <i class="g-font-size-default fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-4">
              <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                <i class="g-font-size-default fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-4">
              <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                <i class="g-font-size-default fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Figure Social Icons -->
        </div>
      </div>
    </section>

    {% partial "produkkecil" %}
    {% partial "footerpb" %}

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  {% partial "scriptspb" %}
</body>

</html>
