description = "PB layout"

[session]
security = "all"
redirect = "home"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0

[builderList]
modelClass = "Mnm\Produkpb\Models\Produk"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "produk-kami"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<!DOCTYPE html>
<html lang="en">

<head>
  {% partial 'metapb' %}
</head>

<body>
  <main>

    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
      {% partial "headerpb" %}
      {% partial "navpb" %}
    </header>
    <!-- End Header -->

    <!-- Promo Block -->
    <section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url({{ 'assets/images/backgroundslider.jpg'|theme }});">
      <div class="container g-color-white text-center g-z-index-1">
        <div class="mb-5">
          <h2 class="g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-mb-30">
              Cetak
              <span class="u-text-animation u-text-animation--typing"></span>
            </h2>
          <p class="g-font-size-24">Cetak online murah dan bersahabat.</p>
        </div>

        <div class="g-pos-abs g-left-0 g-right-0 g-z-index-2 g-bottom-30">
          <a class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-11" href="#produk-section" data-target="#content">Get Started
            <i class="fa fa-angle-down"></i>
          </a>
        </div>

      </div>
    </section>
    <!-- End Promo Block -->

    {% partial "benefitpb" %}

    <section class="container g-py-50">
      {% partial "newprodukpb" %}
    </section>

    <div class="u-divider u-divider-center u-divider-linear-gradient u-divider-linear-gradient--gray-light-v3 w-50 mx-auto g-my-80">
      <i class="fa fa-circle u-divider__icon g-bg-white g-color-primary"></i>
    </div>

    {% partial "footerpb" %}

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  {% partial "scriptspb" %}
</body>

</html>
