description = "Profil PB"

[session]
security = "all"
redirect = "profil"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0

[builderList]
modelClass = "Mnm\Produkpb\Models\Produk"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "produk-kami"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<!DOCTYPE html>
<html lang="en">

<head>
  {% partial 'metapb' %}
</head>

<body>
  <main>

    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
      {% partial "headerpb" %}
      {% partial "navpb" %}
    </header>
    <!-- End Header -->
    <br>
    <br>
    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-69" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
      <!-- Parallax Image -->
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url({{ 'assets/images/backgroundslider.jpg'|theme }});"></div>
      <!-- End Parallax Image -->

      <!-- Promo Block Content -->
      <div class="container g-color-white text-center g-py-120"><br>
        <h3 class="h1 g-font-weight-600 text-uppercase mb-2 g-mt-50">Percetakan Bandung</h3>
        <p class="g-font-weight-300 g-font-size-22">Cetak online murah dan bersahabat</p>
      </div>
      <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->

    <!-- Heading -->
    <section class="g-bg-secondary g-py-50">
      <div class="text-center">
        <h2 class="h5 g-line-height-1_8">Percetakan Bandung terdiri dari team yang selalu
            <span class="g-brd-bottom g-brd-primary g-color-primary g-font-weight-600 pb-1">berinovasi</span> untuk menghadirkan produk berkualitas.<br>Fokus kami adalah melayani dengan
            <span class="g-brd-bottom g-brd-primary g-color-primary g-font-weight-600 pb-1">sepenuh hati</span> setiap order.
          </h2>
      </div>
    </section>
    <!-- End Heading -->

    <!-- Icon Blocks -->
    <section class="container u-ns-bg-v1-bottom g-bg-white g-pt-50 g-pb-70">
      <div class="row justify-content-center g-mb-60">
        <div class="col-lg-7">
          <!-- Heading -->
          <div class="text-center mb-4">
            <h2 class="h3 text-uppercase mb-3">Keunggulan Kami</h2>
            <div class="d-inline-block g-width-60 g-height-1 g-bg-primary mb-2"></div>
            <p class="lead mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
          </div>
          <!-- End Heading -->
        </div>
      </div>

      <!-- Icon Blocks -->
      <div class="row">
        <div class="col-lg-4 g-mb-10">
          <!-- Icon Blocks -->
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-primary g-font-size-26">
                <i class="icon-education-087 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <h3 class="h5 g-color-black mb-20">Creative ideas</h3>
              <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              <a class="g-color-main g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Learn More</a>
            </div>
          </div>
          <!-- End Icon Blocks -->
          <hr class="g-mt-30">
        </div>

        <div class="col-lg-4 g-mb-10">
          <!-- Icon Blocks -->
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-primary g-font-size-26">
                <i class="icon-education-035 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <h3 class="h5 g-color-black mb-20">Excellent features</h3>
              <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              <a class="g-color-main g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Learn More</a>
            </div>
          </div>
          <!-- End Icon Blocks -->
          <hr class="g-mt-30">
        </div>

        <div class="col-lg-4 g-mb-10">
          <!-- Icon Blocks -->
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-primary g-font-size-26">
                <i class="icon-education-141 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <h3 class="h5 g-color-black mb-20">Fully responsive</h3>
              <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              <a class="g-color-main g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Learn More</a>
            </div>
          </div>
          <!-- End Icon Blocks -->
          <hr class="g-mt-30">
        </div>
      </div>
      <!-- End Icon Blocks -->

      <!-- Icon Blocks -->
      <div class="row">
        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-primary g-font-size-26">
                <i class="icon-finance-256 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <h3 class="h5 g-color-black mb-20">Clean code</h3>
              <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              <a class="g-color-main g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Learn More</a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-primary g-font-size-26">
                <i class="icon-science-020 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <h3 class="h5 g-color-black mb-20">Extensive documentation</h3>
              <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              <a class="g-color-main g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Learn More</a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-primary g-font-size-26">
                <i class="icon-finance-009 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <h3 class="h5 g-color-black mb-20">Modern design</h3>
              <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              <a class="g-color-main g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Learn More</a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
      <!-- End Icon Blocks -->
    </section>
    <!-- End Icon Blocks -->

    <!-- Testimonials -->
    <section class="g-bg-gray-light-v5 g-py-100">
      <div class="container">
        <div class="row justify-content-center g-mb-60">
          <div class="col-lg-7">
            <!-- Heading -->
            <div class="text-center">
              <h2 class="h3 g-color-black text-uppercase mb-2">What people say about Unify?</h2>
              <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
              <p class="lead mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
            </div>
            <!-- End Heading -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 g-mb-30">
            <!-- Testimonials -->
            <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
              <div class="d-flex mr-4">
                <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img14.jpg" alt="Image description">
              </div>
              <div class="media-body">
                <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
                <h4 class="h6 g-font-weight-700 g-mb-0">Emma Smith</h4>
                <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
              </div>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="col-lg-6 g-mb-30">
            <!-- Testimonials -->
            <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
              <div class="d-flex mr-4">
                <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img15.jpg" alt="Image description">
              </div>
              <div class="media-body">
                <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                <h4 class="h6 g-font-weight-700 g-mb-0">Anna Pretty</h4>
                <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
              </div>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="col-lg-6 g-mb-30">
            <!-- Testimonials -->
            <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
              <div class="d-flex mr-4">
                <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img16.jpg" alt="Image description">
              </div>
              <div class="media-body">
                <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
                <h4 class="h6 g-font-weight-700 g-mb-0">Danilla Ut.</h4>
                <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
              </div>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="col-lg-6 g-mb-30">
            <!-- Testimonials -->
            <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
              <div class="d-flex mr-4">
                <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img17.jpg" alt="Image description">
              </div>
              <div class="media-body">
                <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
                <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
              </div>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Testimonials -->

    <!-- Section -->
    <section class="container g-pt-50 g-pb-20">
      <div class="row">
        <div class="col-lg-6 g-mb-60">
          <div class="mb-4">
            <br>
            <br>
            <br>
            <h2 class="h3 text-uppercase mb-3">Profil</h2>
            <div class="g-width-60 g-height-1 g-bg-primary"></div>
          </div>
          <div class="mb-1">
            {% page %}
          </div>
        </div>

        <div class="col-lg-6 g-mb-60">
          <br>
          <br>
          <br>
          <img class="img-fluid" src="{{ 'assets/images/tafio-team.jpg'|theme }}" alt="Image Description">
        </div>
      </div>
    </section>
    <!-- End Section -->



    {% partial "produkkecil" %}

    {% partial "footerpb" %}

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  {% partial "scriptspb" %}
</body>

</html>
