[viewBag]
title = "About Us"
url = "/about"
layout = "default"
is_hidden = 0
navigation_hidden = 0
==
<h3>About House of Chairs</h3>

<p>You can relax with House of Chairs. We have been selling chairs for over 40 years.</p>

<p>We are recognised for our quality and commitment to others when providing high quality chairs.</p>

<p>We won't stuff you around and have respect for your rear end.</p>

<p>Whether your buttocks is yerns for a home or business application, we have a variety of clever and innovative solutions for comfort.</p>