title = "Blog"
url = "/blog"
layout = "default"
description = "The main blog page, with all posts."
meta_title = "The latest announcements from us"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<?php
function onStart()
{
    $this['bannerImage'] = $this->themeUrl('assets/images/blog-banner.jpg');
}
?>
==
<div class="row">
    <div class="col-md-10">
        {% partial 'blog/posts' %}
    </div>
    <div class="col-md-2">
        {% partial 'blog/categories' %}
    </div>
</div>