title = "Produk Kami"
url = "/produk/:slug"
layout = "detailprodukpb"
is_hidden = 0

[builderDetails]
modelClass = "Mnm\Produkpb\Models\Produk"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<!--
{% if record %}
    <h2 class="h2 g-color-black g-font-weight-600"> {{record.title}} </h2>
    <h2 class="h4 g-color-black g-font-weight-600"> {{record.keterangan|raw}} </h2>
    <img src="{{ record.img_produk.thumb(200,200,{'mode':'crop'}) }}" alt="Image Description">
{% else %}
    {{ notFoundMessage }}
{% endif %}
-->

<section class="container g-pt-100 g-pb-70">
  <div class="row">
    <div class="col-md-6 g-mb-10">
      <div class="g-mb-20">
        <h2 class="h2 g-color-black g-font-weight-700 text-uppercase"><span class="g-color-primary">{{record.title}}</span></h2>
      </div>
      <p class="lead">{{record.deskripsi|raw}}</p>
    </div>

    <div class="col-md-6 g-mb-10 align-items-center text-center">
      <img class="img-fluid mb-4" src="{{ record.img_detailproduk.thumb(500,400,{'mode':'crop'}) }}" alt="Image Description">
    </div>
  </div>
</section>
