description = "Keunggulan PB"

[viewBag]
==
<!-- Icon Blocks -->
    <div class="row no-gutters g-brd-bottom--lg g-brd-gray-light-v4">
      <div class="col-lg-3 g-pa-60">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
              <i class="icon-communication-082 u-line-icon-pro"></i>
            </span>
          <h3 class="h4 g-color-gray-dark-v2 mb-3">Data Tersimpan Rapih </h3>
          <p class="mb-0">Memudahkan Anda jika ingin cetak ulang.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
              <i class="icon-education-031 u-line-icon-pro"></i>
            </span>
          <h3 class="h4 g-color-gray-dark-v2 mb-3">Produk Beragam</h3>
          <p class="mb-0">Kami bisa memenuhi hampir seluruh kebutuhan cetak Anda.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
              <i class="icon-transport-029 u-line-icon-pro"></i>
            </span>
          <h3 class="h4 g-color-gray-dark-v2 mb-3">Harga Kompetitif</h3>
          <p class="mb-0">Kami memberikan harga sesuai dengan kebutuhan Anda</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
              <i class="icon-transport-029 u-line-icon-pro"></i>
            </span>
          <h3 class="h4 g-color-gray-dark-v2 mb-3">Pengiriman ke seluruh Indonesia</h3>
          <p class="mb-0">Kami sudah berpengalaman mengirim barang ke seluruh Indonesia.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End Icon Blocks -->