description = "Client PB"

[viewBag]
==
<div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-60">
          <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
            <h2 class="h3 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-600">Klien Kami</h2>
          </div>
          <p class="lead"><strong>Percetakan Bandung</strong> telah melayani lebih dari 500 klien yang terdiri dari perusahaan maupun pribadi serta pengiriman ke seluruh area di Indonesia.</p>
        </header>
      </div>

      <div class="js-carousel g-brd-top g-brd-bottom g-brd-gray-light-v4" data-autoplay="true" data-slides-show="6" data-responsive='[{
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 2
               }
             }]'>
        <div class="js-slide u-block-hover g-brd-left g-brd-gray-light-v4 g-py-50">
          <img class="mx-auto g-width-120 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ 'assets/images/dksh.png'|theme }}" alt="Image description">
        </div>

        <div class="js-slide u-block-hover g-brd-left g-brd-gray-light-v4 g-py-50">
          <img class="mx-auto g-width-120 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ 'assets/images/dksh.png'|theme }}" alt="Image description">
        </div>

        <div class="js-slide u-block-hover g-brd-left g-brd-gray-light-v4 g-py-50">
          <img class="mx-auto g-width-120 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ 'assets/images/dksh.png'|theme }}" alt="Image description">
        </div>

        <div class="js-slide u-block-hover g-brd-left g-brd-gray-light-v4 g-py-50">
          <img class="mx-auto g-width-120 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ 'assets/images/pertamina.png'|theme }}" alt="Image description">
        </div>

        <div class="js-slide u-block-hover g-brd-left g-brd-gray-light-v4 g-py-50">
          <img class="mx-auto g-width-120 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ 'assets/images/pertamina.png'|theme }}" alt="Image description">
        </div>

        <div class="js-slide u-block-hover g-brd-left g-brd-gray-light-v4 g-py-50">
          <img class="mx-auto g-width-120 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ 'assets/images/pertamina.png'|theme }}" alt="Image description">
        </div>
      </div>