description = "FAQ"

[viewBag]

[FaqAll]
limit = 25
sortOrder = "desc"
==
<section class="container g-py-50">
{% set faqs = FaqAll.faqs %}
{% for faq in faqs %}
 <div id="accordion-11" class="u-accordion u-accordion-bg-primary u-accordion-color-white" role="tablist" aria-multiselectable="true">
  <!-- Card -->
  <div class="card g-brd-none rounded-0 g-mb-15">
    <div id="accordion-11-heading-01 question_{{ faq.id }}" class="u-accordion__header g-pa-0" role="tab">
      <h5 class="mb-0">
        <a class="d-flex g-color-main g-text-underline--none--hover g-brd-around g-brd-gray-light-v4 g-rounded-5 g-pa-10-15" href="#accordion-11-body-01" aria-expanded="true" aria-controls="accordion-11-body-01" data-toggle="collapse" data-parent="#accordion-11">
          <span class="u-accordion__control-icon g-mr-10">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
          </span>
          {{ faq.question }}
        </a>
      </h5>
    </div>

    <div id="accordion-11-body-01" class="collapse show" role="tabpanel" aria-labelledby="accordion-11-heading-01" data-parent="#accordion-11">
      <div class="u-accordion__body g-color-gray-dark-v5">
        {{ faq.answer|md }}
      </div>
    </div>
  </div>
  <!-- End Card -->
 </div>
{% endfor %}
</section>