description = "Footer PB"

[viewBag]
==
<!-- Call To Action -->
<section class="g-bg-primary g-color-white g-pa-30" style="background-image: url({{ 'assets/images/bg/pattern5.png'|theme }});">
  <div class="d-md-flex justify-content-md-center text-center">
    <div class="align-self-md-center">
      <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">Masih bingung atau ada hal yang ingin ditanyakan? Silahkan</p>
    </div>
    <div class="align-self-md-center">
      <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="https://api.whatsapp.com/send?phone=6285321300300&text=Halo%20ka..%20Saya%20ingin%20bertanya-tanya%20mengenai%20produk%20PercetakanBandung.com">HUBUNGI KAMI</a>
    </div>
  </div>
</section>
<!-- End Call To Action -->

<footer class="g-bg-bluegray-lineargradient g-color-white-opacity-0_8">
  <div class="g-bg-black-opacity-0_1 g-color-white-opacity-0_8 text-center g-py-20">
    <div class="container">
      <small class="g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">Copyright © 2019 Percetakan Bandung All Rights Reserved
      </small>
    </div>
  </div>
</footer>
