description = "Header PB"

[viewBag]
==
<!-- Top Bar -->
            <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-py-18">
              <div class="container">
                <div class="row flex-column flex-md-row align-items-center justify-content-between g-color-white">

                  <div class="col-auto g-px-15">
                    <i class="icon-phone g-font-size-24 g-valign-middle g-color-primary g-mr-10"></i>
                    085321300300
                  </div>

                  <div class="col-auto">
                    <i class="fa fa-clock-o g-font-size-18 g-valign-middle g-color-primary g-mr-10 g-mt-minus-2"></i>
                    Senin-Jum'at 08.00 - 17.00 | Sabtu 08.00 - 12.00
                  </div>

                  <div class="col-auto g-px-15">
                    <i class="icon-location-pin g-font-size-24 g-valign-middle g-color-primary g-mr-10"></i>
                    Jl. Kembar Timur 1 No. 11 A Kota Bandung 40254
                  </div>

                  <div class="col-auto g-px-15">
                    <i class="icon-envelope g-font-size-24 g-valign-middle g-color-primary g-mr-15"></i>
                    <a href="mailto:#" class="g-color-white g-color-primary--hover g-text-underline--none--hover">cs@percetakanbandung.com</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Top Bar -->
