description = "Maps"

[viewBag]
==
<div class="map-responsive">
	<p class="rtecenter"><iframe frameborder="0" height="500" id="gmap_canvas" scrolling="no" src="https://maps.google.com/maps?q=percetakan%20bandung&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width="1020"></iframe></p>
</div>