description = "Meta PB"

[viewBag]
==
<!-- Title -->
  <title>Percetakan Bandung</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ 'assets/images/faviconpb.svg'|theme }}" sizes="16x16" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/bootstrap.min.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/offcanvas.css'|theme }}">

  <!-- CSS Global Icons -->

  <link rel="stylesheet" href="{{ 'assets/vendor/icon-awesome/css/font-awesome.min.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/icon-line/css/simple-line-icons.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/icon-etlinefont/style.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/icon-line-pro/style.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/icon-hs/style.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/animate.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/slick-carousel/slick/slick.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/typedjs/typed.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/hs-megamenu/src/hs.megamenu.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/hamburgers/hamburgers.min.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/dzsparallaxer/dzsparallaxer.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/dzsparallaxer/dzsscroller/scroller.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/dzsparallaxer/advancedscroller/plugin.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/slick-carousel/slick/slick.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/fancybox/jquery.fancybox.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css'|theme }}">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="{{ 'assets/css/unify-core.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/css/unify-components.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/css/unify-globals.css'|theme }}">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{{ 'assets/vendor/slick-carousel/slick/slick.css'|theme }}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{{ 'assets/css/custom.css'|theme }}">
