description = "Navigation PB"

[viewBag]
==
<div class="u-header__section u-header__section--dark g-bg-primary-gradient-opacity-v1 g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-py-0">
  <nav class="js-mega-menu navbar navbar-expand-lg">
    <div class="container">
      <!-- Responsive Toggle Button -->
      <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
        <span class="hamburger hamburger--slider">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Logo -->
      <a href="{{ 'index'|staticPage }}">
        <img src="{{ 'assets/images/newlogopb.svg'|theme }}" width="75" alt="Logo PB"></img>
      </a>
      <!-- End Logo -->


      <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">

              {# Custom navigation implementation that only shows 2 levels deep #}
            {% import _self as nav %}

            {% macro render_menu(items) %}
                {% import _self as nav %}

                {% for item in items %}
                    <li role="presentation" class="nav-item  g-mx-10--lg g-mx-15--xl {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }}">
                        <a href="{{ item.url }}" class="nav-link g-py-7 g-px-0 active">{{ item.title }}</a>

                        {% if item.items %}
                            <ul>{{ nav.render_menu(item.items) }}</ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endmacro %}


            {% if mainMenu.menuItems %}
                <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto u-main-nav-v5">
                    {{ nav.render_menu(mainMenu.menuItems) }}
                </ul>
            {% endif %}

            </div>
            <!-- End Navigation -->

            <!-- Search -->
            <div class="d-inline-block g-pos-rel g-valign-middle g-top-minus-1">
              <a href="#!" class="g-font-size-18 g-color-main g-color-white--hover" aria-haspopup="true" aria-expanded="false" aria-controls="searchform-1" data-dropdown-target="#searchform-1" data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeInUp"
              data-dropdown-animation-out="fadeOutDown">
                <i class="fa fa-search"></i>
              </a>

              <!-- Search Form -->
              <form id="searchform-1" class="u-searchform-v1 u-dropdown--css-animation u-dropdown--hidden g-bg-black g-bg-black g-pa-10 g-mt-10 g-box-shadow-none">
                <div class="input-group g-brd-primary--focus">
                  <input class="form-control rounded-0 u-form-control g-brd-gray-light-v3" type="search" placeholder="Silahkan cari disini...">

                  <div class="input-group-addon p-0">
                    <button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">Cari</button>
                  </div>
                </div>
              </form>
              <!-- End Search Form -->
            </div>
            <!-- End Search -->

          </div>
        </nav>
      </div>
