description = "New Produk PB"

[viewBag]

[builderList]
modelClass = "Mnm\Produkpb\Models\Produk"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "produk-kami"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="row justify-content-center g-mb-60">
  <div class="col-lg-7">
    <div class="text-center mb-4">
      <h2 class="h1 g-color-black g-font-weight-600">Produk kami</h2>
      <div class="d-inline-block g-width-60 g-height-1 g-bg-primary mb-2"></div>
      <p class="lead mb-0">Berbagai macam kebutuhan cetak Anda siap kami penuhi.</p>
    </div>
  </div>
</div>

<div class="row no-gutters g-mx-minus-10">
    {% for record in records %}
      {% spaceless %}

       <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
        <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-30">
         <img class="img-fluid u-block-hover__main--zoom-v1 mb-4" src="{{ record.img_produk.thumb(425,250,{'mode':'crop'}) }}" alt="Image Description">
         <span class="g-font-weight-600 g-font-size-12 text-lowercase">  {{record.keterangan|raw}}</span>
         <h4 class="h4 g-font-weight-600 mb-0 text-uppercase">{{record.title}}</h4>

         {% if detailsPage %}
          <a class="u-link-v2" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"></a>
         {% endif %}
        </div>
      </div>

     {% endspaceless %}
    {% endfor %}
</div>
