description = "New Produk PB"

[viewBag]
==
<div class="text-center g-mb-50">
  <h2 class="h1 g-color-black g-font-weight-600">Produk kami</h2>
  <p class="lead">Berbagai macam kebutuhan cetak Anda siap kami penuhi.</p>
</div>

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="row no-gutters g-mx-minus-10">
  <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">

    <!-- Projects Brosur -->
    <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
      {% for record in records %}
        <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
        <span class="g-font-weight-600 g-font-size-12 text-lowercase">{{ record.keterangan|raw }}</span>

        {% spaceless %}
          {% if detailsPage %}
            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
          {% endif %}

          <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">{{ record.title }}</h3>

          {% if detailsPage %}
            </a>
          {% endif %}
        {% endspaceless %}
      {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
      {% endfor %}
    </div>
    <!-- End Projects -->
  </div>
</div>
