description = "Portofolio PB"

[viewBag]
==
<div class="text-center g-mb-50">
        <h2 class="h1 g-color-black g-font-weight-600">Portofolio</h2>
        <p class="lead">This is where we begin to visualize your napkin sketches and make them into pixels.</p>
      </div>

      <div class="row">
        <div class="col-md-3 g-mb-30">
          <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col4" data-src="{{ 'assets/images/port_brosur.jpeg'|theme }}" data-caption="Lightbox Gallery">
            <img class="img-fluid" src="{{ 'assets/images/port_brosur.jpeg'|theme }}" alt="Image Description">
          </a>
        </div>

        <div class="col-md-3 g-mb-30">
          <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col4" data-src="{{ 'assets/images/port_bukuthn.jpeg'|theme }}" data-caption="Lightbox Gallery">
            <img class="img-fluid" src="{{ 'assets/images/port_bukuthn.jpeg'|theme }}" alt="Image Description">
          </a>
        </div>
      </div>