description = "New Produk PB"

[viewBag]

[builderList]
modelClass = "Mnm\Produkpb\Models\Produk"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "produk-kami"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<section class="container g-py-50">
  <div class="row justify-content-center g-mb-10">
    <div class="col-lg-7">
      <div class="text-center mb-4">
        <h2 class="h3 text-uppercase mb-3">Produk kami</h2>
        <div class="d-inline-block g-width-60 g-height-1 g-bg-primary mb-2"></div>
      </div>
    </div>
  </div>
  <div class="row no-gutters g-mx-minus-10">
      {% for record in records %}
        {% spaceless %}

         <div class="col-sm-6 col-lg-2 g-px-5 g-mb-10">
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-20 g-py-20">
           <img class="img-fluid u-block-hover__main--zoom-v1 mb-3" src="{{ record.img_produk.thumb(50,50,{'mode':'crop'}) }}" alt="Image Description">
           <h5 class="h5 g-font-weight-100 mb-0 text-capitalize">{{record.title}}</h5>

           {% if detailsPage %}
            <a class="u-link-v2" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"></a>
           {% endif %}
          </div>
         </div>

       {% endspaceless %}
      {% endfor %}
  </div>
</section>
