description = "Produk PB"

[viewBag]
==
<div class="text-center g-mb-50">
        <h2 class="h1 g-color-black g-font-weight-600">Produk kami</h2>
        <p class="lead">This is where we begin to visualize your napkin sketches and make them into pixels.</p>
      </div>

      <div class="row no-gutters g-mx-minus-10">
        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects Brosur -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 10 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak Brosur</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 10 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak Poster</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 250 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak Buku</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 10 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak Majalah</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 10 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak Kalender</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 10 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak Stciker</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 10 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak X Banner</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        <div class="col-sm-6 col-lg-3 g-px-10 g-mb-20">
          <!-- Projects -->
          <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
            <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ 'assets/images/prod_brosur.jpg'|theme }}" alt="Image Description">
            <span class="g-font-weight-600 g-font-size-12 text-lowercase">mulai dari 10 rb</span>
            <h3 class="h4 g-font-weight-600 mb-0 text-uppercase">Cetak Kop Surat</h3>

            <a class="u-link-v2" href="#!"></a>
          </div>
          <!-- End Projects -->
        </div>

        </div>
      </div>
