description = "Scripts PB"

[viewBag]
==
  <!-- JS Global Compulsory -->
  <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/jquery-migrate/jquery-migrate.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/popper.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/bootstrap/bootstrap.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/bootstrap/offcanvas.js'|theme }}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{{ 'assets/vendor/appear.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/hs-megamenu/src/hs.megamenu.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/slick-carousel/slick/slick.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/typedjs/typed.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/gmaps/gmaps.min.js'|theme }}"></script>

  <script src="{{ 'assets/vendor/dzsparallaxer/dzsparallaxer.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/dzsparallaxer/dzsscroller/scroller.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/dzsparallaxer/advancedscroller/plugin.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/masonry/dist/masonry.pkgd.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/slick-carousel/slick/slick.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/fancybox/jquery.fancybox.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/chosen/chosen.jquery.js'|theme }}"></script>

  <!-- JS Unify -->
  <script src="{{ 'assets/javascript/hs.core.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/components/hs.carousel.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/components/hs.header.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/helpers/hs.hamburgers.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/components/hs.tabs.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/components/text-animation/hs.text-slideshow.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/components/hs.go-to.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/components/hs.popup.js'|theme }}"></script>
  <script src="{{ 'assets/js/components/gmap/hs.map.js'|theme }}"></script>
  <script src="{{ 'assets/js/components/hs.select.js'|theme }}"></script>

  <!-- JS Customization -->
  <script src="{{ 'assets/js/custom.js'|theme }}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
        $('.masonry-grid').masonry({
          columnWidth: '.masonry-grid-sizer',
          itemSelector: '.masonry-grid-item',
          percentPosition: true
          });
        });

        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
          strings: [
            "Brosur",
            "Poster",
            "Buku",
            "Majalah",
            "Kartu Nama",
            "Kop Surat",
            "Map",
            "Amplop",
            "Banner",
            "Roll Banner",
            "X Banner",
            "Nota/Kwitansi",
            "Paperbag",
            "Notes",
            "Sticker",
            "Buku Tahunan",
            "LJK",
            "Kalender"
          ],
          typeSpeed: 60,
          loop: true,
          backDelay: 1500
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of google map
  function initMap() {
    $.HSCore.components.HSGMap.init('.js-g-map');
  }

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });

  </script>

  <script  src="//maps.googleapis.com/maps/api/js?key=API_KEY&amp;callback=initMap" async="" defer=""></script>

  <!-- Dropdown calculator -->
  <script>
    $(document).ready(function () {
      // initialization of custom select
      $.HSCore.components.HSSelect.init('.js-custom-select');
    });
  </script>
